body {
    margin : 0;
    display : flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
    background: linear-gradient(to left , royalblue , dodgerblue);
}

button {
    position : relative;
    font-size : 1.2em;
    padding : 0.5em 2em;
    text-transform: uppercase;
    border : none;
    border-radius : 10px;
    outline : none;
    background : linear-gradient(to right , purple , blue);
    background-size : 250%;
    color : white;
    cursor : pointer;
    transition : 0.5s;
}


button:hover{
    background-position : right;
}

button:active {
    bottom : -1px;
}
