body {
    margin : 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
    box-sizing: border-box;
}

button {
    font-size : 2em;
    position : relative;
    padding : 0.5em 2em;
    text-transform: uppercase;
    border : none;
    outline : none;
    background : linear-gradient(to right, purple , blue , purple);
    background-size : 150%;
    color : white;
    border-radius : 20px;
    cursor : pointer;
    transition : 0.2s;
}

button:hover {
    background-position: right;
}

button:active {
    bottom : -1px;
}